body {
    background-color: #15202b;
    /* Fundo da página azul escuro */
}

.container {
    background-color: #ffffff;
    /* Caixa branca */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 40px;
    /* Aumenta o espaçamento interno */
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    /* Centraliza o texto "Criar uma nova conta" */
}

.logo {
    margin-bottom: 30px;
    /* Aumenta a separação entre a imagem e o formulário */
}

.btn {
    background-color: #007bff;
    /* Botão azul */
    color: #ffffff;
    /* Letras brancas */
    padding: 15px 30px;
    /* Aumenta o tamanho do botão */
    font-size: 18px;
    /* Aumenta o tamanho da letra do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
    /* Cor azul mais escura quando o mouse passa por cima */
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    /* Aumenta a separação entre os campos de entrada de texto */
    border-radius: 5px;
    border: none;
    font-size: 16px;
    /* Aumenta o tamanho da letra dos placeholders */
}

a {
    margin-top: 100px;
    padding: 10px;
    color: #01082c;
    /* Texto "Criar uma nova conta" azul claro */
    text-decoration: none;
}

a:hover {
    padding: 10px;
    color: #0e7fca;
    /* Cor azul mais clara quando o mouse passa por cima */
    text-decoration: none;
}