/* Reset some default styles */
body, h1, ul {
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color:#15202b;
  padding-top: 20px;
  color: white;
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #007bff;
}

/* Content styles */
.content {
  margin-left: 250px;
  padding: 20px;
}
